header {
  display: flex;
  align-items: baseline;
  padding: 0 $size-gutter;

  h1 {
    margin: 22px 0 0 0;
    font-size: 26px;
  }
}

.header-left {
  width: $size-sidebar;
}

.header-right {
  flex: 1;
  display: flex;
}

.header-link {
  margin-right: 40px;
}

.header-dropdown {
  height: 0px;
  overflow: hidden;
  transition: height .667s ease-in-out;
  background-color: #E0E1E2;
  color: #404040;

  &.active {
    height: 120px;
  }
}

.header-dropdown-content {
  padding: 30px $size-gutter 40px $size-gutter;
}
