.project {
  display: flex;
  margin: 40px 0 80px 0;
}

.project-meta {
  width: $size-sidebar;
  text-transform: capitalize;
  background-color: $color-light-gray;;
  padding-left: 30px;
  padding-top: 45px;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 33.3%;
  min-width: 300px;
  line-height: $size-line-height;

  h1 {
    margin: 0;
    font-size: 22px;
    color: $color-red;
  }

  h2 {
    margin: 0px 0 40px 0;
    font-size: 16px;
    font-weight: 400;
  }

  h4 {
    margin: 0;
  }

  dl {
    margin: 0;
    display: flex;
    font-size: 14px;
  }

  dt {
    font-weight: 600;
    width: 70px;
  }
}

.project-slideshow {
  @include fade-in;
  width: 700px;
  margin: 45px auto 0 auto;

  .slick-slide {
    height: auto;
  }

  .slick-dots {
    display: flex !important;
    justify-content: center;
    padding: 0;
    margin-bottom: 45px;
  }

  li {
    list-style: none;
  }

  button {
    border: none;
    background: rgba(0,0,0,0);
    margin: 0 7px 0 7px;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    font-family: "Assistant", sans-serif;
  }

  .slick-active button {
    font-weight: bold;
    color: $color-red;
  }
}

.project-slideshow-controls {
  display: flex;
  justify-content: center;

  & > div {
    margin: 20px 7px 0 7px;
    cursor: pointer;
  }

  & > div:hover {
    color: $color-red;
  }

  & > .active {
    font-weight: bold;
    color: $color-red;
  }
}

.project-content {
  flex: 1;
  padding-left: 20px;
  padding: 60px 45px 100px 45px;
  background-color: $color-lightest-gray;
  line-height: $size-line-height;

  & > * {
    margin-top: 0;
  }

  img {
    width: calc(100% - 60px);
    margin: 15px 30px;
    max-width: 700px;
  }

  blockquote {
    font-size: 26px;
    line-height: 1.68;
    border-top: 1px solid $color-gray;
    border-bottom: 1px solid $color-gray;
    margin: 45px 30px;
    color: $color-dark-gray;
  }
}

.related-projects {
  background-color: $color-dark-gray;
  padding: 60px 30px;

  h2 {
    margin: 0 0 30px 0;
    color: $color-light-gray;
  }

  .work-gallery {
    margin: 0;
  }

  .work-item {
    margin-bottom: 30px;
  }

  h6 {
    color: $color-gray;
  }
}
