---
layout: default
---

<div class="project-slideshow">
  {% for image in page.images %}
    <img src="{{ image }}" />
  {% endfor %}
</div>

<section class="inverse-wrapper project">
  <aside class="project-meta">
    <h1>{{ page.title }}</h1>

    <h2>{{ page.location }} - {{ page.year }}</h2>

    <dl>
      <dt>Name</dt>
      <dd>{{ page.name }}</dd>
    </dl>
    <dl>
      <dt>Categories</dt>
      <dd>
        {% for cat in page.Categories %}
          {% assign catObject = site.categories | where: 'title', cat | first %}
          {% if catObject %}
            {{ catObject.title }}
          {% endif %}
        {% endfor %}
      </dd>
    </dl>
    <dl>
      <dt>Status</dt>
      <dd>{{ page.status }}</dd>
    </dl>
  </aside>

  <div class="project-content">
    {{ content }}
  </div>
</section>

<section class="inverse-wrapper related-projects">
  <h2>Related Work</h2>
  <div class="work-gallery">
    {% for project in page.Projects %}
      {% assign projectObject = site.projects | where: 'title', project | first %}
      {% if projectObject %}
        <div class="work-item">
          <a href="{{ projectObject.url }}">
            <div class="work-image">
              <img src="{{ projectObject.image }}" />
              <h4 class="description">{{ projectObject.title }}</h4>
            </div>
            <h6>{{ projectObject.location }} | {{ projectObject.status }}</h6>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

