---
layout: default
---

<div class="project-slideshow">
  {% for image in page.images %}
    <img src="{{ image }}" />
  {% endfor %}
</div>

<div class="project-slideshow-controls">
  {% for image in page.images %}
    {% if forloop.first == true %}
      <div data-go-to-slide={{ forloop.index }} class="active">{{ forloop.index }}</div>
    {% else %}
      <div data-go-to-slide={{ forloop.index }}>{{ forloop.index }}</div>
    {% endif %}
  {% endfor %}
</div>

<section class="project">
  <aside class="project-meta">
    <h1>{{ page.title }}</h1>

    <h2>{{ page.location }} - {{ page.year }}</h2>

    <dl>
      <dt>Name</dt>
      <dd>{{ page.name }}</dd>
    </dl>
    <dl>
      <dt>Categories</dt>
      <dd>
        {% for cat in page.Categories %}
          {% assign catObject = site.categories | where: 'title', cat | first %}
          {% if catObject %}
            {{ catObject.title }}
          {% endif %}
        {% endfor %}
      </dd>
    </dl>
    <dl>
      <dt>Status</dt>
      <dd>{{ page.status }}</dd>
    </dl>
  </aside>

  <div class="project-content">
    {{ content }}
  </div>
</section>

